/********** BASE STYLES **********/
*{
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

body{
  font-family: $header-stack;
  font-size: 16px;
  line-height: 1.5;
  color: $black;
  background: #ffffff;
}

li{
  list-style: none;
}

a{
  outline: none;
  text-decoration: none;
  color: $dark-green;
  &:hover{
    color: $green;
  }
}

h1,h2,h3,h4,h5,h6{
  font-family: $header-stack;
  text-transform: capitalize;
}

h1{
  font-size: 1.75em;/* 28px */
}
h2{
  font-size: 1.5em;/* 24px */
}
h3{
  font-size: 1.375em;/* 22px */
}
h4{
  font-size: 1.25em;/* 20px */
}
h5{
  font-size: 1.125em;/* 18px */
}
h6{
  font-size: 1em;/* 16px */
}

p{
  font-size: 1.125em;/* 18px */
}

.container{
  margin: 0 auto;
  width: 95%;
}

/********** MEDIA QUIRIES **********/
/* 720px */
@include media(45em){
  h1{
    font-size: 2.125em;/* 34px */
  }
  h2{
    font-size: 1.625em;/* 26px */
  }
  h3{
    font-size: 1.5em;/* 24px */
  }

  h6{
    font-size: 0.875em;/* 14px */
  }
  .container{
    width: 90%;
  }
}

/* 920px */
@include media(57.5em){
  .container{
    width: 85%;
  }
}
