$white: #f3f3f3;
$black: #231F20;
$green: #34E79A;
$dark-green: #03A87C;

$header-stack: 'Archivo', 'Helvetica Neue', Arial, "Lucida Grande", sans-serif;
$font-stack: 'Avenir', 'Helvetica Neue', Arial, sans-serif;
